In [31]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
from scipy.stats import linregress
import numpy as np

# Study data files
gdp_path = "Resources/GDP_info _clean.csv"
solarpower_path = "Resources/solar_power_per_country.csv"

# Read the GDP data and the solar power results
gdp_data = pd.read_csv(gdp_path)
solarpower_data = pd.read_csv(solarpower_path)

#Rename Columns, including date columns
gdp_df = gdp_data.rename(columns={"Country Name": "Country", "2016": "2016_GDP", "2017": "2017_GDP", "2018": "2018_GDP", "2019": "2019_GDP","2020": "2020_GDP"})
solarpower_df = solarpower_data.rename(columns={"Country or territory": "Country"})

#Drop non-important columns
gdp_df = gdp_df.drop(columns=["Country Code", "Indicator Name", "Indicator Code"])
solarpower_df = solarpower_df.drop(columns = ["W per capita 2019"])

In [37]:
# Combine the data into a single dataset
data_df = pd.merge(gdp_df, solarpower_df, how="inner", on="Country")


#Remove NA values
data_df = data_df.dropna(axis = 0, how ="any", thresh = None, subset = None, inplace=False)

# Display the data table for preview
data_df

,Country,2016_GDP,2017_GDP,2018_GDP,2019_GDP,2020_GDP,2016_New,2016_Total,2017_New,2017_Total,2018_New,2018_Total,2019_New,2019_Total,2020_New,2020_Total,Share of total consumption %
2,Australia,47255.307010,48398.549700,50100.224670,52030.643910,52397.387050,839.0,5900.0,1250.0,7200.0,3800.0,11300,3700.0,15928,1699.0,17627,10.7
13,China,13483.377270,14243.532610,15497.359990,16653.338840,17204.355830,34540.0,78070.0,53000.0,131000.0,45000.0,175018,30100.0,204700,49655.0,254355,6.2
18,Germany,50579.683930,53071.455570,55142.318780,56284.980520,54263.649610,1520.0,41220.0,1800.0,42000.0,3000.0,45930,3900.0,49200,4583.0,53783,9.7
34,India,5839.864817,6182.922109,6675.361294,6997.863988,6501.526071,3970.0,9010.0,9100.0,18300.0,10800.0,26869,9900.0,35089,4122.0,39211,6.5
39,Japan,40623.018660,41505.082480,42386.399810,42896.331090,41732.868620,8600.0,42750.0,7000.0,49000.0,6500.0,55500,7000.0,63000,4000.0,67000,8.3
70,United States,58021.400500,60109.655730,63064.418410,65279.529030,63413.513860,14730.0,40300.0,10600.0,51000.0,10600.0,53184,13300.0,60682,14890.0,75572,3.4

In [38]:
consumption = data_df ['Share of total consumption %'].value_counts()
plt.pie(consumption, explode = explode, labels=labels, colors=colors, autopct="%1.1f%%"", shadow=True, startangle=140 )

SyntaxError: invalid character '“' (U+201C) (3208754358.py, line 2)